
.icon-home:before { content: '\e800'; } /* '' */
.icon-right-thin:before { content: '\e801'; } /* '' */
.icon-down-big:before { content: '\e802'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-exchange:before { content: '\f0ec'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-train:before { content: '\f238'; } /* '' */
.icon-search:before { content: '\f50d'; } /* '' */
